<h3>Tasks</h3>
<hr />

<table>
  <tr>
    <th>Priority</th>
    <th>Description</th>
    <th>Est. Hrs</th>
    <th>Completed</th>
    <th>Status</th>
    <th>User</th>
    <th>Project</th>
  </tr>

  <% tasks.each do |task| %>
    <tr>
      <td><%=h task.priority %></td>
      <td><%=h task.description %></td>
      <td><%=h task.estimated_hrs %></td>
      <td><%=h task.pretty_date %></td>
      <td><%= check_box_tag "task[complete_at]", "1", task.completed_at, :disabled => true %></td>
      <td><%=h task.user_id %></td>
      <td><%=h task.project.name %></td>

      <%# <td><%= link_to 'View', task </td>%>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

<% if tasks.empty? %>
  <p> >>> No Tasks exist for this Project. </p>
<% end %>

