<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

 <% if @project.id != nil %>
    <div class="field">
      <label for="created_by"> Created by:  <%= @project.user.email %> </label>
    </div>
    <div class="field">
      <label for="created_by"> Created by:  <%= @project.created_at %> </label>
    </div>
    <div class="field">
      <label for="updated_at"> Updated by:  <%= @project.updated_at %> </label>
    </div>
 <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
