<h1>Projects</h1>

<% @projects.each do |project| %>

<div class="project-div">
  <div class="project-name">
    <%= link_to project.name, edit_project_path(project) %>
  </div>
  <div class="project-actions">
    <%= link_to 'Show', project %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %>
  </div>
 </div>

<% end %>

<%= link_to 'New Project', new_project_path %>




