<!DOCTYPE html>
<html>
<head>
  <title>Super Duper Project Manager in Rails 3</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('#dialog').dialog({width: 500, height: 300, autoOpen: false});

        <% if flash[:error] %>
          $('#dialog').dialog({title: 'ERROR:'});
          $('#flash-message').replaceWith('<%= flash[:error] %>');
          $('#dialog').dialog('open');
        <% end %>
});

</script>

</head>
<body>

<div id="dialog" style="border:black; border-width: 2px; background-color: white;" title="Example dialog">
	<p id="flash-message">Some text that you want to display to the user.</p>
</div>


<%= render :partial => "layouts/topmenu" %>


<% if flash[:notice] and false %>
  <div class="flash-notice">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:error] and false %>
  <div class="flash-error">
    <p><%= flash[:error] %></p>
  </div>
<% end %>


<div id="main">
  <%= yield %>
</div>


  
</body>
</html>
